@page "/terms"

<PageTitle>Blazor Tasker - Terms</PageTitle>

<h2>Terms</h2>

<dl>
  <dt>What are components?</dt>
  <dd>Everything you build in Blazor is a component.</dd>
  <dd>Components are clean and easy to build</dd>
  <dd>Components can execute server side and/or client side</dd>
  <dd>Reuseable UI Building Blocks</dd>
  <dd>HTML Markup and CSS</dd>
  <dd>Include C# code and possibly JS Code</dd>

</dl>

@code {

}
