@page "/"

<PageTitle>Blazor Introduction - Home</PageTitle>

<h1 class="m-0">Blazor Introduction!</h1>

<div class="lead mb-5 fs-4">Applications built to demonstrate the basics of building with Blazor</div>

<dl>
  <dt>Blazor Project Structure</dt>
  <dd>Modify the Blazor Project structure</dd>
  <dt>Razor Syntax</dt>
  <dd>Add conditional logic to html markup</dd>
  <dt>Routing</dt>
  <dd>Add pages and give them a route</dd>
</dl>

<dl>
  <dt>Blazor Project Structure</dt>
  <dd>Blazor starts with several predefined folders when a Project is created</dd>
  <dd>
    <ul>
      <li>wwwroot</li>
      <li>layout</li>
      <li>pages</li>
    </ul>
  </dd>
  <dt>WWWROOT</dt>
  <dd>The wwwroot folders is required that our app is served from:</dd>
  <dd>
    <ul>
      <li>Contains all static files i.e. stylesheets, images, etc</li>
      <li>Contains index.html - This file is required to launch the app</li>
      <li>Blazor Web Assembly apps is a SPA (Single Page App)</li>
      <li>Pages are components that are injected into index.html</li>
    </ul>
  </dd>
</dl>